.ex-1-square {
    transition: background-color 1s;
}
.ex-1-square:hover {
    background-color: red;
}
.ex-2-square {
    transition: width 1s;
}
.ex-2-square:active{
width: 100%;
}
.ex-3-square {
    transition: border-radius 1s;
}
.ex-3-square:hover {
    border-radius: 50%;
}
.ex-4-square {
    transition: background-color 1s;
}
.ex-4-square:hover {
    background-color:  #f5f5f5;
}
.ex-5-square {
    transition: margin 1s, width 1s, height 1s;
}
.ex-5-square:hover {
    margin: 0px;
    width: 100px;
    height: 100px;
}
.ex-5-square:active{
    margin: 45px;
    width: 10px;
    height: 10px;
}
.ex-6-img, .ex-7-img, .ex-8-img {
    transition: filter 1s;
}
.ex-6-img:hover{
    filter: grayscale(1);
}
.ex-7-img{
    transition: filter 3s;
}
.ex-7-img:hover{
    filter: invert(0.1)  grayscale(1);
}
.ex-8-img{
    transition: filter 1s, border-radius 1s;
}
.ex-8-img:hover{
    filter: invert(0.1)  grayscale(1);
    border-radius: 25px;
}
.ex-9-img{
    transition: filter 1s, border-radius 1s, transform 1s;
}
.ex-9-img:hover{
    filter: invert(0.1)  grayscale(1);
    border-radius: 25px;
    transform: scale(1.3);
}
.ex-10-icon {
    animation-name: es10;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;

}
@keyframes es10{
    from { 
        transform: rotate(0deg); 
    } to { 
        transform: rotate(360deg); 
    }
}


.ex-11-icon:hover{
    animation: es11 5s;
}
@keyframes es11{
    0% { 
        transform: rotate(0deg); 
    } 
    50% { 
        transform: rotate(270deg); 
    } 
    100% { 
        transform: rotate(-0deg); 
    } 

}
.ex-12-button:hover .ex-12-top-white{
    animation: es12 5s;
}
@keyframes es12{
    0% { 
        top: -10px;
        left: 10%;
    } 
    50% { 
        top: -10px;
        left: 90%;
    } 
    100% { 
        top: -10px;
        left: 10%;
    } 


}
.ex-12-button:hover .ex-12-bottom-white{
    animation: es12b 5s;
}
@keyframes es12b{
    0% { 
        bottom: -10px;
        right: 20%;
    } 
    50% { 
        bottom: -10px;
        right: 80%;
    } 
    100% { 
        bottom: -10px;
        right: 20%;
    } 


}


.ex-13-button:hover .ex-13-top-white{
    animation: es13 5s;
}

@keyframes es13{
    0% { 
        top: -10px;
        left: 10%;
    } 
    20% { 
        top: -10px;
        left: 90%;
    } 
    40% { 
        top: 60px;
        left: 90%;
    } 
    60% { 
        top: 60px;
        left: -10%;
    } 
    80% { 
        top: -10px;
        left: -10%;
    } 
    100% { 
        top: -10px;
        left: 10%;
    } 

}
.ex-13-button:hover .ex-13-bottom-white{
    animation: es13b 5s;
}

@keyframes es13b{
    0% { 
        bottom: -10px;
        right: 20%;
    } 
    20% { 
        bottom: -10px;
        right: 80%;
    } 
    40% { 
        bottom: +60px;
        right: 80%;
    } 
    60% { 
        bottom: +60px;
        right: -10%;
    } 
    80% { 
        bottom: -10px;
        right: -10%;
    } 
    100% { 
        bottom: -10px;
        right: 20%;
    } 

}